@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1> Capstone Final Project Library System MAIN PAGE</h1>
    <p>  test push 3000</p>
    <p>  push test 3009</p>
    <p> push test 3</p>
</div>
